/* 1b2024 */

*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;


    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    background-color: #1b2024;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
}
nav a:hover{
    background-color: #454545;
}
nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #1b2024;
    /*background-color: rgba(255, 255, 255, 0.2);*/
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;     /* none to hide flex to show*/
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%
}

.sidebar a{
    width: 100%
}

.menu-button{
    display: none;
}

@media(max-width: 800px){
    .hideOnMobile{
        display:none;
    }
    .menu-button{
        display: block;
    }
}
@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}





/*    Start     */

.ContainerOfReplies>p{
    object-fit: cover;
    overflow-x:hidden;
    overflow-y:hidden;
}


div p {
    text-align: justify;
    font-size: 0.9em;
 
}

/*-----------------------------*/
.sameflex {
    display: flex;
    font-size: .8em;
    padding: 4vw;
}

span .timeAgo{
    color:gray;
    font-weight: lighter;
}
.replies img{
    width: 4wv;
    height: 4ex;
    object-fit: cover;

    border: 1px  black;
    border-radius: 90px; 
    margin-bottom: 0;
    padding: .5rem;
}



.replyContain a {
   
    text-decoration: none;
    border: 1px solid white;

}

.replyContain img {

    vertical-align: super;
    width: 10px;
    height: 8px;
    
    padding-left: 0.1vw;
    padding-right: 0wv;

    margin: 5;
    vertical-align: middle;
    font-size: .7rem;


}

.replies {
         /* testing delete this later */
}



/* ------------------ Replied of Reply 2nd attachments------------------- */



.SecSameFlex {
    display: flex;
    font-size: .8em;
    padding: 4vw;
}

span .SecTimeAgo{
    color:gray;
    font-weight: lighter;
}
.box2Replied img{
    width: 4wv;
    height: 4ex;
    border: 1px  black;
    border-radius: 90px; 
    margin-bottom: 0;
    padding: .5rem;
}



.SecReplyContain a {
   
    text-decoration: none;
    border: 1px solid white;

}

.SecReplyContain img {

    
    width: 10px;
    height: 8px;
    object-fit: cover;

    padding-left: 0.1vw;
    padding-right: 0wv;

    margin: 5;
    vertical-align: middle;
    font-size: .7rem;


}

.box2Replied {
     padding-left: 10vw;
}


/* holder of container*/
.ContainerOfReplies>div {
    margin-top:     -4vw;
    margin-bottom:  -8.5vw;

}
